body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #E0E0E0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4D4D4D
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* Minimum font size set to 16px
to prevent auto-focus on mobile browsers */
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}